<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Songs
  </div>

  <ul class="list-group list-group-flush">
    <% @set_list.songs.each do |song| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/songs/<%= song.id %>">
          <%= song.title %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
