<form action="/create_set_list_song_from_set_list" method="post">

  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :title, @set_list_song.song_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="set_list_id" value="<%= @set_list.id %>">

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @set_list_song.position %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create set list song
  </button>
</form>
